<%= form_with model: article do |form| %>
  <div>
    <%= form.label :title %><br>
    <%= form.text_field :title %>
    <% article.errors.full_messages_for(:title).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.label :body %><br>
    <%= form.text_area :body %><br>
    <% article.errors.full_messages_for(:body).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.label :status %><br>
    <%= form.select :status, Visible::VALID_STATUSES, selected: article.status || 'public' %>
  </div>

  

  <%# if @article.image.content_type.in?(%w[image/jpeg image/png image/jpg]) %>
<!--  <div class="position-relative">-->
    <%#= image_tag(@article.image_as_thumbnail, style: "margin-right: 10px;") if @article.image.attached?%>
    <%#= link_to "Remove Image", article_image_path(@article), data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' }, type: "button", class: "btn btn-danger  position-absolute top-0" %>
<!--  </div>-->
  <%# end %>
<!---->
<!--  <div>-->
    <%#= form.label :image %>
    <%#= form.file_field :image %>
<!--  </div>-->
  
  <%= render 'image_preview', form: form, article: @article %>

  <div>
    <%= form.submit %>
  </div>
<% end %>
