<div data-controller="previews">
        <div class="position-relative">
            
            <% if article.image.attached? %>
                <%= image_tag article.image, data: { previews_target: "preview" }, style: "width: 270px; height: auto; margin-right: 10px;" %>
                <%= link_to "Remove Image", article_image_path(@article), data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' }, type: "button", class: "btn btn-danger position-absolute top-0" %>
            <% else %>
                <%= image_tag "", data: { previews_target: "preview" }, style: "width: 270px; height: auto; margin-right: 10px;"%>
                <%= link_to "Remove Image", article_image_path(@article), data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' }, type: "button", id: "remove_image_button", class: "btn btn-danger position-absolute top-0", style:"display: none;"%>
            <% end %>
        </div>

    <%= form.label :image %>
    <%= form.file_field :image,
        direct_upload: true, 
        data: { previews_target: "input", action: "change->previews#preview"} %>
    
</div>